






header{
    max-width: 1440px;
background-color: black;
}
.container{
    max-width: 72%;
    margin: 0 auto;
}

/* Shared style */
.display-flex{
display: flex;
}
.text-white{
    color: white;
}
.background-color{
    background-color: black;
}
.text-gray{
    color: rgba(255, 255, 255, 0.5) ;
}
/* navbar related styles */
.brand{
    color: #E6533C;
    font-weight: 800;
    font-size: 2rem;
}
.navbar{
    justify-content: space-between;
    align-items: center;
}
.nav-link{
    text-decoration: none;
}
.nav-item{
    list-style: none;
    margin-right: 47px;
    
}
.nav-links > .btn-primary{
    margin-right: 47px;
    background-color: #E6533C;
    border-radius: 46px;
    padding: 5px 10px ;
    border: none;

}
.navbar, .banner{
    max-width: 70%;
    margin: 0 auto;
}

/* banner related styles */
.banner{
    justify-content: space-between;
}
.banner-content{
    width: 50%;
    
    

}
.italic{
    font-style: italic;
    font-weight: 400;
}
.banner-title{
    font-weight: 900;
    font-size: 4.8rem;
}

.btn-primary{
    
    background-color: #E6533C;
    border-radius: 46px;
    padding: 20px 50px; 
    border: none;
}
.transparent{
    background-color: transparent;
    border-radius: 46px;
    padding: 16px 40px; 
    margin-left: 10px;
    border: 1px solid white;
}
.banner-image{
    width: 100%;
    height: 80%;

}
.card {

    background: rgba(255, 255, 255, 0.1);
    padding: 10px 20px;
    border-radius: 10px;
    font-weight: bold;
    text-align: center;
    color: white;
    backdrop-filter: blur(5px);
    margin-left: 30px;
}

/* habits related css */
.habits{

text-align: center;

}
.habits-title{
    font-weight: 900;
    font-size: 3rem;
}
.Habit-images{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    
}
div > img{
    border-radius: 100px;
}
.container{
    align-items: center;
    text-align: center;
}
/* Run related css */
.run-section{
    justify-content: center;
    align-items: center;
    max-width: 1060px;
    margin: 0 auto;
}
.run-container{
    width: 100%;
    background-color: rgba(34, 34, 34, 1);
    padding: 10px 35px;
    border-radius: 18px;
    margin: 0 auto;
    margin-top: 130px;
    justify-content: space-between;

}
 .run-image{
    width: 366px;
    margin-left: 70px;
    border-radius: 18px;
    margin-top: 15px;

}
.run-content{
    width: 440px;
}
.run-title{
    font-weight: 900;
    font-size: 3rem;
}
/* Our video related css */
.Our-video{
    text-align: center;
    margin-top: 120px;
}
.video-container{
    width: 100%;
    border-radius: 10px;
}
.video-description{
    margin-bottom: 30px;
}
/* Bmi related css */
.about-bmi{
    text-align: center;
    margin-top: 100px;
}
.bmi{
    max-width: 100%;
}
.bmi-container{
    background-color: rgba(34, 34, 34, 1);
    width: 100%;
    height: 487px;
    display: flex;
    margin-bottom: 130px;
    
}
table{
    border-collapse: collapse;
    
}
td{
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 20px;
    color:rgba(255, 255, 255, 0.5) ;
}
.bmi-chart{
    padding: 20px 100px;

}
th{
    border: 1px solid rgba(255, 255, 255, 0.1) ;
color: white;
padding: 20PX;
}
/* BMI Calculator related css */
.bmi-calculator{
    padding:20px 100px ;
    gap: 15px;
}
input[type="text"]{
    padding: 10px 40px 12px 20px ;
    gap: 10px;
    border: none;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.1);
}
input[type="number"]{
    padding: 10px 40px 12px 20px ;
    gap: 10px;
    border: none;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.1);
    margin-top: 10px;
}
.gender{
    padding: 10px 40px 12px 20px ;
    border: none;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.1);
    margin-top: 10px;
    color: rgba(255, 255, 255, 0.5);
    
}
.Activity-factor{
    width:65%;
    padding: 10px 40px 12px 20px ;
    border: none;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.1);
    margin-top: 10px;
    margin-bottom: 15px;
    color: rgba(255, 255, 255, 0.5);
}
/* Meet our team styles */
.team{
    max-width: 1060px;
    padding: 20px;
    border: 2px solid black;
    border-radius: 18px;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.1);
    }
.team-section {
    padding: 50px 20px;
align-items: center;
text-align: center;
}

.team-section h1 {
    font-size: 36px;
    margin-bottom: 10px;
    color: white;
}

.team-section p {
    font-size: 16px;
    margin-bottom: 40px;
    color: #b3b3b3;
}

.team-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
       
}

.team-member {
    border-radius: 10px;
    text-align: left;
}



.team-member img {
    width: 100%;
    height: 272px;
    border-radius: 10px;

}
.team-member{
    color: white;
}

.team-member p {
    font-size: 14px;
    color: #9e9e9e;
}
/* footer related styles */
.footer-links {
width: 180px;
}
.footer-about{
    width: 443px;
}
.footer-links p{
color:rgba(255, 255, 255, 0.5) ;
}
.footer-explore{
    color: rgba(255, 255, 255, 0.5);
    margin-left: 20px;
}
hr{
    width: 800px;
}

.footer-sections, .footer-bottom {
    display: flex;
    justify-content: center;
    align-items: center;

}
.footer-container{
    background-color: rgba(255, 255, 255, 0.1);
    max-width: 100%;
}
.footer-bottom{
    color: rgba(255, 255, 255, 0.5);
}
/* responsive media quary*/
@media screen and (max-width:576px) {
    .navbar,
     .banner,
.container,
.run-container,
.Our-video,
.bmi-container,
.team-section,
.footer-sections
     {
        flex-direction: column;

    }
.run-image
    .run-container,
.button,
.bmi-container
{
display: flex;
gap: 10px;
margin: auto;
margin-bottom: 20px;
justify-items: center;
width: 100%; 

}

.Habit-images,
.team-grid
{
grid-template-columns: repeat(1, 1fr);
}

.bmi-container{
    padding: 15px;
}
.footer-sections{
    justify-items: center;
    text-align: center;
}



}























